<section class="profile-section">
    <article class="profile-section-wrapper">
        <article class="profile-section-top">
            <h2 class="profile-username">{{currentUserUsername}}</h2>
            <article class="profile-image">
                <img src="../../../assets/profile.jpg" alt="profile-image">
            </article>
        </article>
        <article class="profile-section-bottom">
            <span class="profile-section-span email"><i class="fas fa-user"></i>{{currentUserEmail}}</span>
            <span class="profile-section-span count"><i class="fas fa-file"></i>{{userLessons?.length}}</span>
        </article>
    </article>
</section>