.lessons {
    width: 100%;
    background-color: #DE9151;
    padding-bottom: 4%;
    min-height: 548px;
}

.lessons-wrapper {
    width: 90%;
    margin: 0 auto;
    padding: 12px;
    display: flex;
    flex-wrap: wrap;
    gap: 4%;
}

app-lesson {
    width: 30%;
}


@media screen and (min-width: 600px) {
    app-lesson {
        width: 100%;
    }
}

@media screen and (min-width: 768px) {
    app-lesson{
        width: 100%;
    }
}

@media screen and (min-width: 1024px) {
    app-lesson{
        width: 48%;
    }
}

@media screen and (min-width: 1200px) {
    app-lesson{
        width: 48%;
    }
}
