header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #DE9151;
}

.logo-section {
    width: 40%;
    margin-left: 4%;
    display: flex;
    align-items: center;
    gap: 3%;
}

.logo-section-logo {
    font-size: 2rem;
    color: #fff;
    font-weight: bold;
    border-right: 2px solid #fff;
    padding-right: 16px;
}

.logo-section-text {
    width: 20%;
    color: #fff;
}

.navigation{
    width: 80%;
    margin-right: 4%;
}

.nav-bar-list {
    display: flex;
    list-style: none;
    justify-content: right;
}

.nav-bar-list-item {
    width: 120px;
    text-align: center;
}

.nav-bar-list-item a {
    text-decoration: none;
    color: #fff;
    font-size: 1.1rem;
    text-transform: uppercase;
}

.nav-bar-list-item a:hover {
    border-bottom: 2px solid #fff;
    padding-bottom: 4%;
    transition: ease-in-out;
}