.search {
    width: 100%;
    text-align: center;
    background-color: #2E2E3A;
    height: 200px;
    margin-top: -24px;
    margin-bottom: 0;
}

.search-title {
    font-size: 1.8rem;
    padding-top: 32px;
    color: #F2D3BA;
}

.search-bar {
    width: 30%;
    padding: 12px;
    border-radius: 8px;
    border: 2px solid #F2D3BA;
}